.App {
  position:sticky;
  padding:0;
  margin:0;
  top:0;
  left:0;
  width: 100%;
  height: 100%;
  background-color:lightblue;
  color:gold;
  font-weight: bold;
  text-align: center;
}

body {
  background-color: lightblue;
}

.Header {
  color: gold;
  font-weight: bolder;
  border: 15px solid black;
  background-color: black; 
  outline: 4px solid gold;
  width: 25%;
  align-content: center;
  position:relative; top: 15px; 
  display: flex;
  justify-content: center;
  align-items: center;
}

.LowerBody {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}


.HomePage {
  position:relative; top: 80px; margin: 2em;
}

.OuterCard {
  background-color:black;
  display: inline-grid;
  grid-template-columns: auto auto;
  justify-content: center;
  padding: 10px;
  margin: 15px;
}

.HomeCard {
  display: table-cell;
  background-color: black;
  border: 1px solid gold;
  padding: 15px;
  font-size: 20px;
}

.Profile {
  position:relative; bottom: 120px;
  color: black;
}

.FavSideBar {
  font-weight: bold;
  background-color: gold;
  color: black;
  position:relative; top: 195px; margin-left: 40px;
  width: 17%;
  height: 30px;
  border: 7px solid gold;
}

.login-form {
  font-weight: bold;
  color: black;
  position:relative; top: 70px; margin-left: 40px;
}

.BtnDiv {
  position:relative;
}

.SearchBar {
  position:relative; margin-left: 65em; bottom: 15px;
}

.LogBtn {
  width: 6%;
  font-weight: bold;
  color: black;
  background-color: gold;
  position:relative; top: 4em; margin-left: 2em;
}

.HomeBtn {
  font-weight: bold;
  width: 6%;
  color: black;
  background-color: gold;
  position:relative; top: 4em; margin-left: 2em;
}

.ProfBtn {
  font-weight: bold;
  width: 6%;
  color: black;
  background-color: gold;
  position:relative; top: 4em; margin-left: 2em;
}

.addToFavBtn {
  font-weight: bold;
  color: black;
  background-color: gold;
  position:relative; margin: 15px;
}

.signIn_Btn {
  width: 5%;
  font-weight: bold;
  color: black;
  background-color: gold;
  position:relative; margin-left: 2em;
}

.EditRoster {
  width: 7%;
  font-weight: bold;
  color: black;
  background-color: gold;
  position:relative; margin-left: 2em; bottom: 1em;
}

.EditLabel {
  margin-right: 30px;
  margin:2em;
}

.EditPlayers {
  width: 30%;
  margin-left: 15px;
}

.FormSubmit {
  font-weight: bold;
  color: black;
  background-color: gold;
  width: 7%;
}

.DelBtn {
  width: 6%;
  font-weight: bold;
  color: black;
  background-color: gold;
  position:relative; margin-left: 100px;
}

.removeBtn {
  font-weight: bold;
  color: gold;
  background-color: black;
  position:grid; margin-left: 25px;
}

.Comments {
  font-weight: bold;
  background-color: gold;
  color: black;
  position:relative; bottom: 140px; margin-left: 1200px;
  width: 17%;
  height: 30px;
  border: 7px solid gold;
  outline: 3px solid black;
}

.userProfFavs {
  position:relative; margin-left: 380px;
  text-align: left;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Plz {
  position:relative; top: 2em;
  font-weight: bold;
}

.Username {
  font-weight: bold;
  position:relative; margin: 1em;
}

.Pw {
  font-weight: bold;
  position:relative; margin: 1em;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

nav {
  background-color: gold;
}

nav a {
  display: inline-block;
  margin: 1rem 2rem;
  text-decoration: none;
  font-size: 1.2em;
  color: black;
  border-bottom: 2px solid black;
  transition: 0.1s;
}

nav a:hover,
nav a:active {
  color: white;
  border-bottom: 2px solid white;
}

nav a.active {
  background-color: black;
  color: white;
}