.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.Header {
  color: blue;
  border: 10px solid gold;
  background-color: gold; 
  margin: 30px;
  width: 55%;
  position:relative; top:10px; margin-left: 200px;
}

.FavSideBar {
  background-color: red;
  position:relative; bottom:320px; margin-left: 10px;
  width: 40%
}

.BtnDiv {
  /* display: flex; */
  position:relative;
}

.SearchBtn {
  margin-left: 1em;
}

.LogBtn {
  margin-left: 1em;
}

.ProfBtn {
  margin-left: 1em;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
